.home_page {
  &-hero_section {
    background: white;
    &_container {
      width: 90%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 3em 0;

      .text_container {
        width: 40%;
        display: flex;
        flex-direction: column;
        color: #131313;
        margin-top: -20px;

        h2 {
          font-size: 58px;
          margin: 0;
          color: #131313;
          font-weight: 600;

          span {
            color: #157cff;
          }
        }
        p {
          margin-block: 1em;
          font-size: 18px;
          font-weight: 400;
        }
        .custom-button {
          width: 40% !important;
        }
      }
      .image_container {
        max-width: 500px;
        max-height: 500px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &-selectUs_section {
    background: #d5dade;
    padding-block: 4em;

    &_container {
      width: 90%;
      margin: 0 auto 6em;
      color: #000;

      h2 {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 700;
        margin: 0 0 2em;
      }

      .reasons_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        grid-gap: 50px;

        .reasons {
          display: flex;
          align-items: center;
          gap: 24px;

          .reason_content {
            width: 60%;
            h4 {
              font-weight: 600;
              font-size: 1.3rem;
              margin: 0;
            }
            p {
              font-weight: 300;
              line-height: 1.5em;
            }
          }
        }
      }
    }
  }

  &-testimonial_section {
    background: #003272;
    padding-block: 3em;
    position: relative;

    &_container {
      width: 90%;
      margin: 0 auto 6em;
      color: #000;

      h2 {
        color: white;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 700;
        margin: 0 auto;
        width: 50%;
        line-height: 1.5em;
      }
      .testimonial_message {
        text-align: center;
        color: white;
        margin-bottom: 2em;
      }
      .services {
        background: white;
        padding-block: 3em;
        padding-bottom: 5em;

        &_container {
          width: 90%;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: space-between;
          // grid-template-columns: repeat(3, 1fr);
          // gap: 30px;

          .service {
            display: flex;
            flex-direction: column;
            gap: 1em;
            width: 80%;

            &_content {
              width: 90%;
              h4 {
                font-weight: 600;
                font-size: 1.3rem;
                margin: 0;
              }
              p {
                font-weight: 300;
                line-height: 1.5em;
              }
            }
          }

          .testimonial_container {
            margin-top: 5em;

            h2 {
              margin-bottom: 1em;
            }
          }
        }
      }
      .testimonial_container {
        h2 {
          margin-block: 2em;
        }
        .all_testimonal_container {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          gap: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home_page {
    padding-top: 2em;
    &-hero_section {
      margin-bottom: 2em;
      &_container {
        flex-direction: column;

        .text_container {
          width: 100%;
          align-items: center;
          text-align: center;
          margin-bottom: 2em;

          h2 {
            font-size: 3rem;
            margin: 0;
          }
          p {
            font-size: 15px;
            margin-block: 2em;
          }
          .custom-button {
            width: 60% !important;
          }
        }
      }
    }

    &-selectUs_section {
      &_container {
        .reasons_container {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }

    &-testimonial_section {
      &_container {
        .services {
          &_container {
            flex-direction: column;
          }
        }

        .all_testimonal_container {
          justify-content: center;
        }
      }
    }
  }
}

.support-form {
  margin-block: 2rem;
}
.settings_support_header_text {
  font-weight: 600;
  font-size: 20px;
  color: #295f2f;
  margin-top: 0.7em;
}
.settings_support_input_fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .settings_support_input_fields_personal_info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.support_form_submit_button {
  margin-top: 1em;
}
@media screen and (min-width: 768px) {
  .settings_support_input_fields {
    width: 80%;
    max-width: 1000px;
    .settings_support_input_fields_personal_info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      align-items: center;
      gap: 3rem;
    }
  }
  .support_form_submit_button {
    width: 20%;
    margin-top: 2rem;
  }
}

.contact_us {
  margin-top: 2em;

  &_container {
    width: 90%;
    margin: 0 auto;

    &_image {
      height: 400px;
      width: 100%;


      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

// Support
.support-form {
  margin-block: 2rem;
}
.settings_support_header_text {
  font-weight: 600;
  font-size: 25px;
  color: #157cff;
  margin-top: 1.5em;
}
.settings_support_input_fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .settings_support_input_fields_personal_info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.support_form_submit_button {
  margin-top: 1em;
}
@media screen and (min-width: 768px) {
  .settings_support_input_fields {
    width: 80%;
    max-width: 1000px;
    .settings_support_input_fields_personal_info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      align-items: center;
      gap: 3rem;
    }
  }
  .support_form_submit_button {
    width: 20%;
    margin-top: 2rem;
  }
}
.settings_2fa_verification_qr_container {
  height: auto;
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
  margin-top: 2em;

  h2 {
    text-align: center;
    margin-top: 1em;
    font-size: 20px;
    font-weight: 600;
  }
}
@media screen and (min-width: 768px) {
  .settings_twofa_inner_container {
    width: 60%;
    display: flex;
    gap: 1.5em;
    flex-direction: column;
    margin-bottom: 1em;
    p {
      margin-top: 30px;
    }
  }
  .settings_2fa_verification_qr_container {
    // max-width: 200px;
    margin: 0;
    // display: flex;
    // align-items: flex-end;
    // width: 400px;
    // border: 3px solid red;
  }
}
.settings_2fa_verification_buttons_container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  margin-top: 2em;

  .twofa_reset_button {
    margin: 0;
  }
}
.settings_2fa_verification_qr_input {
  width: 100%;
}
